<div class="nav col-left">
    <a class="btn btn-dark" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample"> ☰ Menu</a>
</div>

<div class="navbar-collapse navbar-dark collapse bg-dark" id="collapseExample">
    <a class="nav-item" href="/mainpage" type="button">Home</a>
    <a class="nav-item" href="/diary" type="button">Learning Diary</a>
    <a class="nav-item" href="/projects" type="button">Projects</a>
    <a class="nav-item" href="/data" type="button">Data Playground </a>
    <a class="nav-item" href="/myStory" type="button">My Story</a>
    <div class="nav col-left ">
        <a class="btn btn-dark" id='travelButton' data-toggle="collapse" href="#collapseTravel" role="button" aria-expanded="false" aria-controls="collapseTravel"> Travel ↓ </a>
    </div>
    <div class="navbar-collapse navbar-dark collapse bg-dark" id="collapseTravel">
        <a class="nav-item" href="/travel" type="button">Travel Bug</a>
        <a class="nav-item" href="/travel-asia" type="button">Asia</a>
        <a class="nav-item" href="/travel-europe" type="button">Europe</a>
        <a class="nav-item" href="/travel-northamerica" type="button">North America</a>
        <a class="nav-item" href="/travel-southamerica" type="button">South America</a>
    </div>
</div>