<div class="nav col-left">
    <a class="btn btn-dark" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample"> ☰ Menu</a>
</div>

<div class="navbar-collapse navbar-dark collapse bg-dark" id="collapseExample">
    <a class="nav-item" href="/mainpage" type="button">Home</a>
    <a class="nav-item" href="/diary" type="button">Learning Diary</a>
    <a class="nav-item" href="/projects" type="button">Projects</a>
    <a class="nav-item" href="/data" type="button">Data Playground </a>
    <a class="nav-item" href="/personal" type="button">Personal Adventures</a>
    <a class="nav-item" href="/myStory" type="button">My Story</a>
</div>