sidebar

<div id="mySidebar" class="sidebar">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
  a(href="/mainpage" type="button") Home
  a(href="/diary" type="button") Learning Diary
  <div class="dropdown">
    <button class="dropbtn">Dropdown
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
  </div>
  a(href="/projects" type="button") Projects
  a(href="/data" type="button") Data Playground 
  a(href="/personal" type="button") Personal Adventures
  a(href="/myStory" type="button") My Story
  //- a(href="/about" type="button") About Me
</div>

<div id="side">
  <button class="openbtn" onclick="openNav()">☰ Menu</button>  
</div>

link(href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet")
link(rel="stylesheet" href="/stylesheets/main.css")
script(src="/javascripts/main.js")



