sidebar

div(id="mySidebar" class="sidebar")
  a(href="javascript:void(0)" class="closebtn" onclick="closeNav()") ×
  a(href="/mainpage" type="button") Home
  a(href="/diary" type="button") Learning Diary
  a(href="/projects" type="button") Projects
  a(href="/data" type="button") Data Playground 
  //- a(href="/personal" type="button") Personal Adventures
  a(href="/myStory" type="button") My Story
  div(class="dropdown")
    a(href="/travel" class="dropbtn" type="button") Travel Adventures
      
    div(class="dropdown-content")
      a(href="/travel-asia") Asia
      a(href="/travel-europe") Europe
      a(href="/travel-northamerica") North America
      a(href="/travel-southamerica") South America
  //- a(href="/about" type="button") About Me

div(id="side")
  a(class="openbtn" onclick="openNav()") ☰ Menu

link(href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet")
link(rel="stylesheet" href="/stylesheets/main.css")
script(src="/javascripts/main.js")



