html
  head
    title Data Playground
    link(rel="stylesheet", href="/stylesheets/main.css")
    include includes/header.pug
  include includes/navbar.pug
  include includes/links.pug

  body.main
    p.data
      | In January 2019, I embarked on an exciting journey of learning more about data analytics 
      | by enrolling into Georgia Tech's Masters of Science in Analytics program (OMSA). Despite
      | my limited exposure in discrete mathematics, linear algebra and statistics, this program
      | has been an eye opener in terms of revealing the endless exciting things one can do with
      | data analytics and the depths of various statisitical/ mathematical applications in analytics.
      | I am truly humbled by my lack of knowledge but am also truly grateful for a cohort of
      | passionate data enthusiasts that are always there exchanging ideas, providing insights and
      | offering a hand when I am struggling with a specific mathematical theory! Here are some
      | fun stuff I have learned so far!

    h3.datatop 
      strong ISYE 6501 Introduction to Analytics Modeling
    p.data 
      | In this course, I was introduced to various analytics modelling methods and best practices
      | on how to choose suitable methods when approaching a problem. I really enjoyed exploring
      | analytical modelling methods such as clustering, time series models, change detection,
      | variable selection, random forests, linear regression and optimization. For the final project,
      | I decided to outline modelling techniques I would potentially use to assess potential players
      | to add to an existing team. As I take more courses in this program, I look forward to see
      | how my modelling plan may evolve as I delve deeper into the different modelling methods!
      | Coursework completed using R.

    p.data 
     a(href="https://github.com/AneresArsenal/portfolio/tree/master/Data%20Analytics" target="_blank" id="linkbar" type="button") Project Report
   
    h3.data
      strong CSE 6040x Computing for Data Analytics
    p.data 
      | Verdict on this course: Tough but fun! In this course, I learned about the data analysis process
      | which includes data collection, processing, analysis and visualization. I also had the opportunity
      | to delve into the infamous topic called machine learning, understanding the behind-the-scene algorithms,
      | linear algebra and mathematical theories that are pivotal for data analytics!
      | Coursework completed using Python (NumPY and Pandas) and SQL.

    h3.data
      strong IYSE 6644 Simulation
    p.data 
      | Dr. Goldsman's reputation in this program stretches far and wide, and for good reason. This course is
      | not easy, especially for someone with limited statistics and math background but the course is designed
      | with a probability and math bootcamp in the beginning to get people like myself up to speed. I have 
      | learned about variouse distributions such as poisson, exponential, normal and geometric. I have also
      | discovered ways to generate random variates using different techniques and explored topics on
      | central limit theorem, black scholes and Box-Muller method. 
      | Coursework completed in ARENA simulation software.

    h3.quoteBottom 
      | "Not everything that can be counted counts, and not everything that counts can be counted."
      | - Albert Einstein

script(href='/javascripts/main.js')