html
  head
    title Topics
    link(rel="stylesheet" href="/stylesheets/main.css")
    include includes/header.pug
  include includes/navbar.pug
  include includes/links.pug


  body.main
    h3.diaryTop Array

    p.diary 
      | test

    h3.diary Stack

    p.diary 
      | test

    h3.diary Queue

    p.diary 
      | test

    h3.diary Singly-Linked List

    p.diary 
      | test

    h3.diary Doubly-Linked List

    p.diary 
      | test

    h3.diary Hash Table

    p.diary 
      | test

    h3.diary Binary Search Tree

    p.diary 
      | test

   
    h3.quoteBottom 
      | "I am always doing that which I cannot do, in order that I may learn how to do it."
      br
      | Pablo Picasso


script(href='/javascripts/main.js')