html
  head
    title Serena Tay
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel="stylesheet", href="/stylesheets/main.css")
    include includes/header.pug
  include includes/navbar.pug
  include includes/links.pug
  
  body.main
    <div class="typewriter">
      <div class="typewriter-text">Hello there, my name is Serena =) </div>
    </div>
    br
    //https://usefulangle.com/post/85/css-typewriter-animation
    img#main(src='/images/istanbul.JPG' alt='istanbul')
    p.main  
      | As the Swedes say it best, hej!
      | I created this website mainly for two reasons.
      | To reflect on my learning milestones and to share the fun things I have been doing.
      | Happy exploring!
    
    h3.quoteBottom "All we have to decide is what to do with the time that is given us." 
      br
      | J.R.R. Tolkien
  
  footer
    include includes/footer.pug
  
  
        


