html
  head
    title Projects
    link(rel="stylesheet", href="/stylesheets/main.css")
    include includes/header.pug
  include includes/navbar.pug
  include includes/links.pug

  body.main
    
    h3.projectstop
      strong Social Media Mobile Application
      | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      | Spring 2020 - Present
    p.projects 
     | As I am nearing the end of my computer science program at OSU, I am excited 
     | and grateful to gain tremendous exposure to various facets of software
     | development ranging from designing database to cloud development.
     | Equipped with this knowledge, my coursemates and I are tasked with creating
     | a capstone project. Without ruining the surprise as it is in its early 
     | stages of design and development, I am hoping to share my project
     | milestones here in the future. Stay tuned!

    h3.projects
      strong Business Card + Resume Mobile Application
      | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      | Spring 2018 - Present
    p.projects 
     | I have started developing my personal website since 2018. Since then, it has seen a 
     | significant change in design and functionalities as my knowledge in web development improved.
     | This website functions as my personal testing lab as I seek to explore different UX design to 
     | create a welcoming, minimalistic and chic website that people would enjoy exploring!
     | Written in Pug (formerly Jade), Javascript (NodeJS) and CSS. 


    h3.projects
      strong Personal Website
      | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      | Spring 2018 - Present
    p.projects 
     | I have started developing my personal website since 2018. Since then, it has seen a 
     | significant change in design and functionalities as my knowledge in web development improved.
     | This website functions as my personal testing lab as I seek to explore different UX design to 
     | create a welcoming, minimalistic and chic website that people would enjoy exploring!
     | Written in Pug (formerly Jade), Javascript (NodeJS) and CSS. 

    h3.projects
      strong Oregon State University BeaverHacks
      | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      | Summer 2019
    p.projects 
     | Participated in my first ever hackathon. With a team four coursemates residing in 
     | three different timezones (yay time difference!), we successfully
     | leveraged our strengths and unique professional experience to collaborate on this project.
     | Written with NodeJS, html5, CSS3. 
    
    p.projects 
     a(href="https://devpost.com/software/tomato-timeout-o" target="_blank" id="linkbar" type="button") Hackathon Final Version
   
    h3.quoteBottom  
     | "Apple is about people who think 'outside the box,' people who want to use computers to help them change the world,
     | to help them create things that make a difference, and not just to get a job done."
     | - Steve Jobs
script(href='/javascripts/main.js')