html
  head
    title North America
    link(rel="stylesheet", href="/stylesheets/main.css")
    include includes/header.pug
  include includes/navbar.pug
  include includes/links.pug

  body.about
    <div class="typewriter" id="top">
      <div class="typewriter-text">North America</div>
    </div> 
  
    br
    br
    br

    <a class="travelBarFirst" href="#Canada">Canada</a>

    <a class="travelBar" href="#CostaRica">Costa Rica</a>

    <a class="travelBar" href="#Mexico">Mexico</a>

    <a class="travelBar" href="#USA">United States of America</a>

    h3.travelTop(id="Canada") Canada

    p.travel 
      | Calgary

    img#travel(src="images/calgary1.JPG")

    br
    br

    img#travel(src="images/calgary2.jpg")

    br
    br

    img#travel(src="images/calgary3.jpg")

    p.travel 
      | Banff+Jasper
    
    img#travelPortrait(src="images/banff1.jpg")

    br
    br

    img#travel(src="images/banff2.jpg")

    p.travel 
      | Montreal

    img#travelPortrait(src="images/montreal1.jpg")

    br
    br

    img#travel(src="images/montreal2.jpg")

    br
    br

    img#travel(src="images/montreal3.jpg")
    
    p.travel 
      | Vancouver

    img#travel(src="images/vancouver1.jpg")
    
    p.travel 
      | Yukon

    img#travelPortrait(src="images/yukon1.jpg")

    br
    br

    img#travel(src="images/yukon2.jpg")


    br
    br
    br
    <a class="travelBackTop" href="#top">Back to the top</a>
    br
    br

    h3.travel(id="CostaRica") Costa Rica

    p.travel 
      | San José

    img#travel(src="images/sanjose1.jpg")

    br
    br

    img#travel(src="images/sanjose2.jpg")
      
    p.travel 
      | Cahuita

    img#travel(src="images/cahuita1.jpg")

    br
    br

    img#travel(src="images/cahuita2.jpg")
      
    p.travel 
      | Quepos

    img#travel(src="images/quepos1.jpg")

    br
    br

    img#travel(src="images/quepos2.jpg")

    br
    br

    img#travel(src="images/quepos3.jpg")

    br
    br
    br
    <a class="travelBackTop" href="#top">Back to the top</a>
    br
    br

    h3.travel(id="Mexico") Mexico

    p.travel 
      | Mazatlan

    img#travel(src="images/mazatlan1.jpg")

    br
    br

    img#travel(src="images/mazatlan2.jpg")

    br
    br

    img#travel(src="images/mazatlan3.jpg")

    br
    br

    img#travelPortrait(src="images/mazatlan4.jpg")
      
    p.travel 
      | Mexico City
    
    img#travel(src="images/mexicocity1.jpg")

    br
    br

    img#travel(src="images/mexicocity2.jpg")

    br
    br

    img#travel(src="images/mexicocity3.jpg")

    br
    br
    br
    <a class="travelBackTop" href="#top">Back to the top</a>
    br
    br

    h3.travel(id="USA") United States of America

    p.travel 
      | Boulder
    
    img#travel(src="images/boulder1.jpg")

    br
    br

    img#travel(src="images/boulder2.jpg")

    br
    br

    img#travel(src="images/boulder3.jpg")
      
    p.travel 
      | Dallas

    img#travel(src="images/dallas1.jpg")

    br
    br

    img#travelPortrait(src="images/dallas2.jpg")

    br
    br

    img#travel(src="images/dallas3.jpg")
      
    p.travel 
      | Denver

    img#travel(src="images/denver1.jpg")

    br
    br

    img#travel(src="images/denver2.jpg")
      
    p.travel 
      | Las Vegas

    img#travel(src="images/vegas1.jpg")

    br
    br

    img#travel(src="images/vegas2.jpg")
    
    p.travel 
      | Los Angeles

    img#travel(src="images/la1.jpg")

    br
    br

    img#travel(src="images/la2.jpg")

    br
    br

    img#travel(src="images/la3.jpg")

    br
    br

    img#travel(src="images/la4.jpg")
      
    p.travel 
      | New York City

    img#travel(src="images/nyc1.jpg")

    br
    br

    img#travel(src="images/nyc2.jpg")

    br
    br

    img#travelPortrait(src="images/nyc3.jpg")
      
    p.travel 
      | Portland

    img#travel(src="images/portland1.jpg")

    br
    br

    img#travel(src="images/portland2.jpg")

    p.travel 
      | San Francisco

    img#travel(src="images/sfc1.jpg")

    br
    br

    img#travel(src="images/sfc2.jpg")
      
    p.travel 
      | Seattle
      
    p.travel 
      | Washington (DC)

    img#travel(src="images/dc1.jpg")

    br
    br

    img#travelPortrait(src="images/dc2.jpg") 

    br
    br

    img#travel(src="images/dc3.jpg")      

    br
    br
    br
    <a class="travelBackTop" href="#top">Back to the top</a>
    br
    br

    h3.quoteBottom "Allt är inte guld som glimmar. Allt sak har sin tid"
      br
      | "All that glimmers is not gold. All things have their time"
      br
      | J.R.R. Tolkien

  footer
    include includes/footer.pug
