html
  head
    title North America
    link(rel="stylesheet", href="/stylesheets/main.css")
    include includes/header.pug
  include includes/navbar.pug
  include includes/links.pug

  body.about
    <div class="typewriter" id="top">
      <div class="typewriter-text">North America</div>
    </div> 
  
    br
    br
    br

    <a class="travelBarFirst" href="#Canada">Canada</a>
    <a class="travelBar">&nbsp;&nbsp;&nbsp;&nbsp;</a>

    <a class="travelBar" href="#CostaRica">Costa Rica</a>
    <a class="travelBar">&nbsp;&nbsp;&nbsp;&nbsp;</a>

    <a class="travelBar" href="#Mexico">Mexico</a>
    <a class="travelBar">&nbsp;&nbsp;&nbsp;&nbsp;</a>

    <a class="travelBar" href="#USA">United States of America</a>
    <a class="travelBar">&nbsp;&nbsp;&nbsp;&nbsp;</a>

    h3.travelTop(id="Canada") Canada

    p.travel 
      | Calgary

    img#travel(src="images/calgary1.JPG")

    br
    br

    img#travel(src="images/calgary2.jpg")

    br
    br

    img#travel(src="images/calgary3.jpg")

    p.travel 
      | Banff+Jasper
    
    img#travelPortrait(src="images/banff1.jpg")

    br
    br

    img#travel(src="images/banff2.jpg")

    p.travel 
      | Montreal

    img#travelPortrait(src="images/montreal1.jpg")

    br
    br

    img#travel(src="images/montreal2.jpg")

    br
    br

    img#travel(src="images/montreal3.jpg")
    
    p.travel 
      | Vancouver

    img#travel(src="images/vancouver1.jpg")
    
    p.travel 
      | Yukon

    img#travelPortrait(src="images/yukon1.jpg")

    br
    br

    img#travel(src="images/yukon2.jpg")


    br
    br
    br
    <a class="travelBackTop" href="#top">Back to the top</a>
    br
    br

    h3.travel(id="CostaRica") Costa Rica

    p.travel 
      | San José

    img#travel(src="images/sanjose1.jpg")

    br
    br

    img#travel(src="images/sanjose2.jpg")
      
    p.travel 
      | Cahuita

    img#travel(src="images/cahuita1.jpg")

    br
    br

    img#travel(src="images/cahuita2.jpg")
      
    p.travel 
      | Quepos

    img#travel(src="images/quepos1.jpg")

    br
    br

    img#travel(src="images/quepos2.jpg")

    br
    br

    img#travel(src="images/quepos3.jpg")

    br
    br
    br
    <a class="travelBackTop" href="#top">Back to the top</a>
    br
    br

    h3.travel(id="Mexico") Mexico

    p.travel 
      | Mazatlan

    img#travel(src="images/mazatlan1.jpg")

    br
    br

    img#travel(src="images/mazatlan2.jpg")

    br
    br

    img#travel(src="images/mazatlan3.jpg")

    br
    br

    img#travelPortrait(src="images/mazatlan4.jpg")
      
    p.travel 
      | Mexico City
    
    img#travel(src="images/mexicocity1.jpg")

    br
    br

    img#travel(src="images/mexicocity2.jpg")

    br
    br

    img#travel(src="images/mexicocity3.jpg")

    br
    br
    br
    <a class="travelBackTop" href="#top">Back to the top</a>
    br
    br

    h3.travel(id="USA") United States of America

    p.travel 
      | Boulder
    
    img#travel(src="images/boulder1.jpg")

    br
    br

    img#travel(src="images/boulder2.jpg")

    br
    br

    img#travel(src="images/boulder3.jpg")
      
    p.travel 
      | Dallas

    img#travel(src="images/dallas1.jpg")

    br
    br

    img#travelPortrait(src="images/dallas2.jpg")

    br
    br

    img#travel(src="images/dallas3.jpg")
      
    p.travel 
      | Denver

    img#travel(src="images/denver1.jpg")

    br
    br

    img#travel(src="images/denver2.jpg")
      
    p.travel 
      | Las Vegas

    img#travel(src="images/vegas1.jpg")

    br
    br

    img#travel(src="images/vegas2.jpg")
    
    p.travel 
      | Los Angeles

    img#travel(src="images/la1.jpg")

    br
    br

    img#travel(src="images/la2.jpg")

    br
    br

    img#travel(src="images/la3.jpg")

    br
    br

    img#travel(src="images/la4.jpg")
      
    p.travel 
      | New York City

    img#travel(src="images/nyc1.jpg")

    br
    br

    img#travel(src="images/nyc2.jpg")

    br
    br

    img#travelPortrait(src="images/nyc3.jpg")
      
    p.travel 
      | Portland

    img#travel(src="images/portland1.jpg")

    br
    br

    img#travel(src="images/portland2.jpg")

    p.travel 
      | San Francisco

    img#travel(src="images/sfc1.jpg")

    br
    br

    img#travel(src="images/sfc2.jpg")
      
    p.travel 
      | Seattle
      
    p.travel 
      | Washington (DC)

    img#travel(src="images/dc1.jpg")

    br
    br

    img#travelPortrait(src="images/dc2.jpg") 

    br
    br

    img#travel(src="images/dc3.jpg")      

    br
    br
    br
    <a class="travelBackTop" href="#top">Back to the top</a>
    br
    br

    h3.quoteBottom "Allt är inte guld som glimmar. Allt sak har sin tid"
      br
      | "All that glimmers is not gold. All things have their time"
      br
      | J.R.R. Tolkien


//-     <div class="travelSlides">
//-     <div class="mySlides">
//-         <div class="numbertext">Buenos Aires, Argentina</div>
//-         <img src="webpage/argentina.jpg">
//-     </div>

//-     <div class="mySlides">
//-         <div class="numbertext">Brussels, Belgium</div>
//-         <img src="webpage/belgium.JPG">
//-     </div>

//-     <div class="mySlides">
//-         <div class="numbertext">Siam Reap, Cambodia</div>
//-         <img src="webpage/cambodia.jpg">
//-     </div>

//-     <div class="mySlides">
//-         <div class="numbertext">Pemberton, Canada</div>
//-         <img src="webpage/canada.jpg">
//-     </div>

//-     <div class="mySlides">
//-         <div class="numbertext">Santiago, Chile</div>
//-         <img src="webpage/chile.jpg">
//-     </div>
    
//-     <div class="mySlides">
//-         <div class="numbertext">Guatape, Colombia</div>
//-         <img src="webpage/colombia.jpg">
//-     </div>

//-     <div class="mySlides">
//-         <div class="numbertext">Parco Manuel Antonio, Costa Rica</div>
//-         <img src="webpage/costaRica.jpg">
//-     </div>

//-     <div class="mySlides">
//-         <div class="numbertext">Praha, Czech Republic</div>
//-         <img src="webpage/czechRepublic.jpg">
//-     </div>

//-     <div class="mySlides">
//-         <div class="numbertext">Frederiksborg Slot, Hillerød, Denmark</div>
//-         <img src="webpage/denmark.jpg">
//-     </div>

//-     <div class="mySlides">
//-         <div class="numbertext">Nice, France</div>
//-         <img src="webpage/france.jpg">
//-     </div>

//-     <div class="mySlides">
//-         <div class="numbertext">Athens, Greece</div>
//-         <img src="webpage/greece.JPG">
//-     </div>

//-     <div class="mySlides">
//-         <div class="numbertext">Hong Kong</div>
//-         <img src="webpage/hongKong.jpg">
//-     </div>

//-     <div class="mySlides">
//-         <div class="numbertext">Bali, Indonesia</div>
//-         <img src="webpage/indonesia.jpg">
//-     </div>

//-     <div class="mySlides">
//-         <div class="numbertext">Venetia, Italy</div>
//-         <img src="webpage/italy.jpg">
//-     </div>

//-     <div class="mySlides">
//-         <div class="numbertext">Kota Kinabalu, Malaysia</div>
//-         <img src="webpage/malaysia.jpg">
//-     </div>

//-     <div class="mySlides">
//-         <div class="numbertext">Ciudad Mexico, Mexico</div>
//-         <img src="webpage/mexico.jpg">
//-     </div>

//-     <div class="mySlides">
//-         <div class="numbertext">Monaco</div>
//-         <img src="webpage/monaco.jpg">
//-     </div>

//-     <div class="mySlides">
//-         <div class="numbertext">Amsterdam, Netherlands</div>
//-         <img src="webpage/netherlands.JPG">
//-     </div>

//-     <div class="mySlides">
//-         <div class="numbertext">Cusco, Peru</div>
//-         <img src="webpage/peru.jpg">
//-     </div>

//-     <div class="mySlides">
//-         <div class="numbertext">Porto, Portugal</div>
//-         <img src="webpage/porto.JPG">
//-     </div>

//-     <div class="mySlides">
//-         <div class="numbertext">Singapore</div>
//-         <img src="webpage/singapore.jpg">
//-     </div>

//-     <div class="mySlides">
//-         <div class="numbertext">Barcelona, Spain</div>
//-         <img src="webpage/spain.JPG">
//-     </div>

//-     <div class="mySlides">
//-         <div class="numbertext">Château de Chillon, Switzerland</div>
//-         <img src="webpage/switzerland.jpg">
//-     </div>

//-     <div class="mySlides">
//-         <div class="numbertext">Chiang Mai, Thailand</div>
//-         <img src="webpage/Thailand.jpg">
//-     </div>

//-     <div class="mySlides">
//-         <div class="numbertext">Edinburgh, UK</div>
//-         <img src="webpage/uk.jpg">
//-     </div>

//-     <div class="mySlides">
//-         <div class="numbertext">Monteviedo, Uruguay</div>
//-         <img src="webpage/uruguay.jpg">
//-     </div>

//-     <div class="mySlides">
//-         <div class="numbertext">Grand Canyon, Nevada, USA</div>
//-         <img src="webpage/usa.jpg">
//-     </div>
//- </div>
  script(src="/javascripts/main.js")

  
