html
  head
    title South America
    link(rel="stylesheet", href="/stylesheets/main.css")
    include includes/header.pug
  include includes/navbar.pug
  include includes/links.pug

  body.about

    <div class="typewriter" id="top">
      div.typewriter-text South America
    </div> 

    br
    br
    br

    <a class="travelBarFirst" href="#Argentina">Argentina</a>

    <a class="travelBar" href="#Chile">Chile</a>

    <a class="travelBar" href="#Colombia">Colombia</a>

    <a class="travelBar" href="#Peru">Peru</a>

    <a class="travelBar" href="#Uruguay">Uruguay</a>
  
    h3.travelTop(id="Argentina") Argentina

    p.travel 
      | Buenas Aires

    img#travel(src="images/buenasaires1.jpg")

    br
    br

    img#travel(src="images/buenasaires2.jpg")

    br
    br

    img#travel(src="images/buenasaires3.jpg")
      
    p.travel 
      | Córdoba

    img#travel(src="images/cordoba1.jpg")

    br
    br

    img#travel(src="images/cordoba2.jpg")
    
    p.travel 
      | Perito Moreno

    br
    br
    br
    <a class="travelBackTop" href="#top">Back to the top</a>
    br
    br

    h3.travel(id="Chile") Chile

    p.travel 
      | Santiago

    img#travelPortrait(src="images/santiago1.jpg")

    br
    br

    img#travel(src="images/santiago2.jpg")
    
    p.travel 
      | Valparaiso

    img#travel(src="images/valparaiso1.jpg")

    br
    br

    img#travel(src="images/valparaiso2.jpg")
    
    br
    br

    img#travel(src="images/valparaiso3.jpg")

    br
    br

    img#travelPortrait(src="images/valparaiso4.jpg")

    br
    br

    img#travel(src="images/valparaiso5.jpg")

    br
    br
    br
    <a class="travelBackTop" href="#top">Back to the top</a>
    br
    br

    h3.travel(id="Colombia") Colombia

    p.travel 
      | Bogota

    img#travel(src="images/bogota1.jpg")

    br
    br

    img#travel(src="images/bogota2.jpg")
    
    br
    br

    img#travel(src="images/bogota3.jpg")
  
    p.travel 
      | Cartagena

    img#travel(src="images/cartagena1.jpg")

    br
    br

    img#travel(src="images/cartagena2.jpg")
    
    br
    br

    img#travel(src="images/cartagena3.jpg")

    br
    br

    img#travelPortrait(src="images/cartagena4.jpg")
    
    p.travel 
      | Medellin

    img#travel(src="images/medellin1.jpg")

    br
    br

    img#travel(src="images/medellin2.jpg")
    
    p.travel 
      | San Andres

    img#travel(src="images/sanandres1.jpg")

    br
    br

    img#travel(src="images/sanandres2.jpg")
    
    br
    br

    img#travel(src="images/sanandres3.jpg")

    br
    br
    br
    <a class="travelBackTop" href="#top">Back to the top</a>
    br
    br

    h3.travel(id="Peru") Peru

    p.travel 
      | Aguas Calientes

    img#travel(src="images/aguascalientes1.jpg")

    br
    br

    img#travel(src="images/aguascalientes2.jpg")
    
    br
    br

    img#travel(src="images/aguascalientes3.jpg")
    
    p.travel 
      | Arequipa

    img#travel(src="images/arequipa1.jpg")

    br
    br

    img#travelPortrait(src="images/arequipa2.jpg")
    
    br
    br

    img#travel(src="images/arequipa3.jpg")
    
    p.travel 
      | Cusco
    
    img#travel(src="images/cusco1.jpg")

    br
    br

    img#travel(src="images/cusco2.jpg")
    
    br
    br

    img#travel(src="images/cusco3.jpg")

    br
    br
    br
    <a class="travelBackTop" href="#top">Back to the top</a>
    br
    br

    h3.travel(id="Uruguay") Uruguay

    p.travel 
      | Colonia

    img#travelPortrait(src="images/colonia1.jpg")

    br
    br

    img#travel(src="images/colonia2.jpg")
    
    p.travel 
      | Monteviedo

    img#travel(src="images/montevideo1.jpg")

    br
    br

    img#travel(src="images/montevideo2.jpg")
    
    br
    br

    img#travel(src="images/montevideo3.jpg")

    br
    br
    br
    <a class="travelBackTop" href="#top">Back to the top</a>
    br
    br
    br


    h3.quoteBottom "Allt är inte guld som glimmar. Allt sak har sin tid"
      br
      | "All that glimmers is not gold. All things have their time"
      br
      | J.R.R. Tolkien

  footer
    include includes/footer.pug