html
  head
    title Europe
    link(rel="stylesheet", href="/stylesheets/main.css")
    include includes/header.pug
  include includes/navbar.pug
  include includes/links.pug

  body.about
    <div class="typewriter" id="top">
     <div class="typewriter-text">Europe</div>
    </div> 

    br
    br
    br
  
    <a class="travelBarFirst" href="#Belgium">Belgium</a>
    <a class="travelBar">&nbsp;&nbsp;&nbsp;&nbsp;</a>

    <a class="travelBar" href="#CzechRepublic">Czech Republic</a>
    <a class="travelBar">&nbsp;&nbsp;&nbsp;&nbsp;</a>

    <a class="travelBar" href="#France">France</a>
    <a class="travelBar">&nbsp;&nbsp;&nbsp;&nbsp;</a>

    <a class="travelBar" href="#Georgia">Georgia</a>
    <a class="travelBar">&nbsp;&nbsp;&nbsp;&nbsp;</a>

    <a class="travelBar" href="#Greece">Greece</a>
    <a class="travelBar">&nbsp;&nbsp;&nbsp;&nbsp;</a>

    <a class="travelBar" href="#Italy">Italy</a>
    <a class="travelBar">&nbsp;&nbsp;&nbsp;&nbsp;</a>

    <a class="travelBar" href="#Malta">Malta</a>
    <a class="travelBar">&nbsp;&nbsp;&nbsp;&nbsp;</a>

    br
    <a class="travelBarFirst" href="#Monacco">Monacco</a>
    <a class="travelBar">&nbsp;&nbsp;&nbsp;&nbsp;</a>

    <a class="travelBar" href="#Netherlands">Netherlands</a>
    <a class="travelBar">&nbsp;&nbsp;&nbsp;&nbsp;</a>

    <a class="travelBar" href="#Portugal">Portugal</a>
    <a class="travelBar">&nbsp;&nbsp;&nbsp;&nbsp;</a>

    <a class="travelBar" href="#Spain">Spain</a>
    <a class="travelBar">&nbsp;&nbsp;&nbsp;&nbsp;</a>

    <a class="travelBar" href="#Sweden">Sweden</a>
    <a class="travelBar">&nbsp;&nbsp;&nbsp;&nbsp;</a>

    <a class="travelBar" href="#Switzerland">Switzerland</a>
    <a class="travelBar">&nbsp;&nbsp;&nbsp;&nbsp;</a>

    <a class="travelBar" href="#UnitedKingdom">United Kingdom</a>
    <a class="travelBar">&nbsp;&nbsp;&nbsp;&nbsp;</a>


    h3.travelTop(id="Belgium") Belgium

    p.travel 
      | Brugge

    img#travel(src="images/brugge.JPG")

    p.travel 
      | Brussels

    img#travel(src="images/brussels.JPG")

    br
    br
    br
    <a class="travelBackTop" href="#top">Back to the top</a>
    br
    br
    
    h3.travel(id="CzechRepublic") Czech Republic

    p.travel 
      | Prague

    img#travel(src="images/prague.JPG")

    br
    br
    br
    <a class="travelBackTop" href="#top">Back to the top</a>
    br
    br
    
    h3.travel(id="France") France

    p.travel 
      | Nice

    img#travel(src="images/nice.JPG")

    p.travel 
      | Paris
    
    img#travel(src="images/paris.JPG")

    br
    br
    br
    <a class="travelBackTop" href="#top">Back to the top</a>
    br
    br
    
    h3.travel(id="Georgia") Georgia

    p.travel 
      | Roshka

    img#travel(src="images/roshka.jpg")

    p.travel 
      | Shatili
  
    img#travel(src="images/shatili.jpg")

    p.travel 
      | Sighnaghi

    img#travel(src="images/sighnaghi.JPG")

    br
    br
    br
    <a class="travelBackTop" href="#top">Back to the top</a>
    br
    br
    
    h3.travel(id="Greece") Greece

    p.travel 
      | Athens

    img#travel(src="images/athens.JPG")

    br
    br
    br
    <a class="travelBackTop" href="#top">Back to the top</a>
    br
    br
    
    h3.travel(id="Italy") Italy

    p.travel 
      | Florence

    p.travel 
      | Milan

    p.travel 
      | Rome 

    p.travel 
      | Venice

    br
    br
    br
    <a class="travelBackTop" href="#top">Back to the top</a>
    br
    br
    
    h3.travel(id="Malta") Malta

    p.travel 
      | Malta

    br
    br
    br
    <a class="travelBackTop" href="#top">Back to the top</a>
    br
    br
    
    h3.travel(id="Monacco") Monacco

    p.travel 
      | Monacco

    br
    br
    br
    <a class="travelBackTop" href="#top">Back to the top</a>
    br
    br
    
    h3.travel(id="Netherlands") Netherlands

    p.travel 
      | Amsterdam
      
    p.travel 
      | Den Haag

    br
    br
    br
    <a class="travelBackTop" href="#top">Back to the top</a>
    br
    br
    
    h3.travel(id="Portugal") Portugal

    p.travel 
      | Lisbon
      
    p.travel 
      | Porto

    br
    br
    br
    <a class="travelBackTop" href="#top">Back to the top</a>
    br
    br
    
    h3.travel(id="Spain") Spain

    p.travel 
      | Barcelona
      
    p.travel 
      | Madrid

    br
    br
    br
    <a class="travelBackTop" href="#top">Back to the top</a>
    br
    br
    
    h3.travel(id="Sweden") Sweden

    p.travel 
      | Gothenburg
      
    p.travel 
      | Stockholm
      
    p.travel 
      | Uppsala

    br
    br
    br
    <a class="travelBackTop" href="#top">Back to the top</a>
    br
    br
    
    h3.travel(id="Switzerland") Switzerland

    p.travel 
      | Geneva
    
    p.travel 
      | Zurich

    br
    br
    br
    <a class="travelBackTop" href="#top">Back to the top</a>
    br
    br
    
    h3.travel(id="UnitedKingdom") United Kingdom

    p.travel 
      | Cotswolds
    
    p.travel 
      | Coventry
      
    p.travel 
      | London
    
    p.travel 
      | Ediburgh
      
    p.travel 
      | Glasgow
      
    p.travel 
      | Sunderland
      
    p.travel 
      | Liverpool
      
    p.travel 
      | Manchester

    br
    br
    br
    <a class="travelBackTop" href="#top">Back to the top</a>
    br
    br
    
    h3.quoteBottom "Allt är inte guld som glimmar. Allt sak har sin tid"
      br
      | "All that glimmers is not gold. All things have their time"
      br
      | J.R.R. Tolkien
