html
  head
    title Asia
    link(rel="stylesheet", href="/stylesheets/main.css")
    include includes/header.pug
  include includes/navbar.pug
  include includes/links.pug

  body.about
    <div class="typewriter" id="top">
      <div class="typewriter-text">Asia</div>
    </div> 
  
    br
    br
    br

    <a class="travelBarFirst" href="#Cambodia">Cambodia</a>
    <a class="travelBar">&nbsp;&nbsp;&nbsp;&nbsp;</a>

    <a class="travelBar" href="#HongKong">Hong Kong</a>
    <a class="travelBar">&nbsp;&nbsp;&nbsp;&nbsp;</a>

    <a class="travelBar" href="#Indonesia">Indonesia</a>
    <a class="travelBar">&nbsp;&nbsp;&nbsp;&nbsp;</a>

    <a class="travelBar" href="#Malaysia">Malaysia</a>
    <a class="travelBar">&nbsp;&nbsp;&nbsp;&nbsp;</a>

    <a class="travelBar" href="#Singapore">Singapore</a>
    <a class="travelBar">&nbsp;&nbsp;&nbsp;&nbsp;</a>

    <a class="travelBar" href="#Thailand">Thailand</a>
    <a class="travelBar">&nbsp;&nbsp;&nbsp;&nbsp;</a>

    <a class="travelBar" href="#Turkey">Turkey</a>
    <a class="travelBar">&nbsp;&nbsp;&nbsp;&nbsp;</a>


    h3.travelTop(id="Cambodia") Cambodia

    p.travelTitle 
      strong Siam Reap

    img#travel(src="images/siamreap1.jpg")

    br
    br

    p.travel
      | January 2016 - A land locked in time, rich in culture and history, 
      | Siam Reap has became a hotspot for travellers since the filming of 
      | Tomb Raider. Visiting all the temples and ancient sites was magical,
      | it felt like you were transported back into time!

    p.travelHeader
      strong Places to visit

    p.travelHeader 
      strong Where to eat

    p.travelHeader 
      strong Things to do

    p.travelHeader 
      strong Logistical information
    
    p.travel
      | An entry visa is required for most travellers if not all. 
      | I got my on arrival at Siam Reap's airport. Here's a quote
      | from my government's website: " Tourist and business visas allow entry to 
      | Cambodia for 30 days only, counting from the date of entry.
      | Travellers must pay a fee in cash of US$30 for tourist visas or US$35 for 
      | business visas and provide two passport-sized photos. The photos can be 
      | purchased at the airport for US$3 each."
      

    p.travelHeader 
      strong Budget notes

    p.travel
      | Here is what I will say, Siam Reap is probably a necessary pit-stop for 
      | anyone who loves ancient sites and history. But be warned that things
      | can be quite pricey (surprisingly) in this city compared to Cambodia 
      | neighbouring countries. You can make purchases either in the local
      | currency or in USD, with the prior being cheaper option.

    p.travelHeader 
      strong Other information
    
    br
    br

    img#travel(src="images/siamreap2.jpg")

    br
    br
    br
    <a class="travelBackTop" href="#top">Back to the top</a>
    br
    br

    h3.travel(id="HongKong") Hong Kong

    p.travelTitle
      | Hong Kong

    img#travel(src="images/hongkong1.jpg")

    br
    br

    p.travel
      | June 2012 - Once a strategic port under the British empire,
      | Hong Kong has benefited and flourished under its rule and ties to
      | the Commonwealth. Despite its strong dominance as a financial hub
      | and trade in Asia, it has retain its charms and cultural identity, with
      | locals still heavily influence by Buddhism, Feng Shui and 
      | traditions. 

    //- p.travelHeader 
    //-   strong Places to visit

    //- p.travelHeader 
    //-   strong Where to eat

    //- p.travelHeader 
    //-   strong Things to do

    //- p.travelHeader 
    //-   strong Logistical information

    //- p.travelHeader 
    //-   strong Budget notes

    //- p.travelHeader 
    //-   strong Other information

    br
    br

    img#travel(src="images/hongkong2.jpg")

    br
    br
    br
    <a class="travelBackTop" href="#top">Back to the top</a>
    br
    br

    h3.travel(id="Indonesia") Indonesia

    p.travelHeader 
      | Bali

    img#travel(src="images/bali1.jpg")

    br
    br

    p.travel
      | January 2016 - The name itself speaks volumes. The thought of pristine
      | waters and miles of shoreline comes into mind. Despite my hesitancy due
      | to the numerous stories of how it is a well-established tourist trap, 
      | armed with my ability to speak the local language, I set out to explore
      | this island. To my surprise, despite the crowd, I must admit there is 
      | lots to see and experience on this island.


    //- p.travelHeader 
    //-   strong Places to visit

    //- p.travelHeader 
    //-   strong Where to eat

    //- p.travelHeader 
    //-   strong Things to do

    //- p.travelHeader 
    //-   strong Logistical information

    //- p.travelHeader 
    //-   strong Budget notes

    //- p.travelHeader 
    //-   strong Other information

    br
    br

    img#travel(src="images/bali2.jpg")
      
    p.travelHeader 
      | Yogyakarta

    img#travelPortrait(src="images/yogya1.jpg")

    br
    br

    p.travel
      | January 2016 - A lesser known island than its neighbour, I struggle to 
      | recall why I chose to venture a short trip here, but I am
      | grateful I did. Friendships formed, adventures taken and memories
      | kept, Yogyakarta definitely has a special place in my heart.

    //- p.travelHeader 
    //-   strong Places to visit

    //- p.travelHeader 
    //-   strong Where to eat

    //- p.travelHeader 
    //-   strong Things to do

    //- p.travelHeader 
    //-   strong Logistical information

    //- p.travelHeader 
    //-   strong Budget notes

    //- p.travelHeader 
    //-   strong Other information

    br
    br

    img#travel(src="images/yogya2.jpg")

    br
    br
    br
    <a class="travelBackTop" href="#top">Back to the top</a>
    br
    br

    h3.travel(id="Malaysia") Malaysia
      
    p.travelHeader 
      | Penang

    img#travel(src="images/penang1.jpg")

    br
    br

    //- p.travelHeader 
    //-   strong Places to visit

    //- p.travelHeader 
    //-   strong Where to eat

    //- p.travelHeader 
    //-   strong Things to do

    //- p.travelHeader 
    //-   strong Logistical information

    //- p.travelHeader 
    //-   strong Budget notes

    //- p.travelHeader 
    //-   strong Other information

    br
    br

    img#travel(src="images/penang2.jpg")
    
      
    p.travelHeader 
      | Kota Kinabalu

    img#travel(src="images/kk1.jpg")

    br
    br

    //- p.travelHeader 
    //-   strong Places to visit

    //- p.travelHeader 
    //-   strong Where to eat

    //- p.travelHeader 
    //-   strong Things to do

    //- p.travelHeader 
    //-   strong Logistical information

    //- p.travelHeader 
    //-   strong Budget notes

    //- p.travelHeader 
    //-   strong Other information

    br
    br

    img#travelPortrait(src="images/kk2.jpg")

    br
    br

    img#travel(src="images/kk3.JPG")
    
    p.travelHeader 
      | Sandakan

    img#travel(src="images/sandakan1.jpg")

    br
    br

    //- p.travelHeader 
    //-   strong Places to visit

    //- p.travelHeader 
    //-   strong Where to eat

    //- p.travelHeader 
    //-   strong Things to do

    //- p.travelHeader 
    //-   strong Logistical information

    //- p.travelHeader 
    //-   strong Budget notes

    //- p.travelHeader 
    //-   strong Other information

    br
    br

    img#travel(src="images/sandakan2.jpg")

    br
    br
    br
    <a class="travelBackTop" href="#top">Back to the top</a>
    br
    br

    h3.travel(id="Singapore") Singapore

    p.travelHeader 
      | Singapore

    img#travel(src="images/singapore1.jpg")

    br
    br

    //- p.travelHeader 
    //-   strong Places to visit

    //- p.travelHeader 
    //-   strong Where to eat

    //- p.travelHeader 
    //-   strong Things to do

    //- p.travelHeader 
    //-   strong Logistical information

    //- p.travelHeader 
    //-   strong Budget notes

    //- p.travelHeader 
    //-   strong Other information

    br
    br

    img#travelPortrait(src="images/singapore2.jpg")

    br
    br
    br
    <a class="travelBackTop" href="#top">Back to the top</a>
    br
    br

    h3.travel(id="Thailand") Thailand

    p.travelHeader 
      | Chiang Mai

    img#travel(src="images/chiangmai1.jpg")

    br
    br

    //- p.travelHeader 
    //-   strong Places to visit

    //- p.travelHeader 
    //-   strong Where to eat

    //- p.travelHeader 
    //-   strong Things to do

    //- p.travelHeader 
    //-   strong Logistical information

    //- p.travelHeader 
    //-   strong Budget notes

    //- p.travelHeader 
    //-   strong Other information

    br
    br

    img#travel(src="images/chiangmai2.jpg")
      
    p.travelHeader 
      | Koh Phi Phi

    img#travel(src="images/kohphiphi1.jpg")

    br
    br

    //- p.travelHeader 
    //-   strong Places to visit

    //- p.travelHeader 
    //-   strong Where to eat

    //- p.travelHeader 
    //-   strong Things to do

    //- p.travelHeader 
    //-   strong Logistical information

    //- p.travelHeader 
    //-   strong Budget notes

    //- p.travelHeader 
    //-   strong Other information

    br
    br

    img#travel(src="images/kohphiphi2.jpg")

    br
    br
    br
    <a class="travelBackTop" href="#top">Back to the top</a>
    br
    br

    h3.travel(id="Turkey") Turkey

    p.travelHeader 
      | Istanbul

    img#travel(src="images/istanbul1.JPG")

    br
    br

    //- p.travelHeader 
    //-   strong Places to visit

    //- p.travelHeader 
    //-   strong Where to eat

    //- p.travelHeader 
    //-   strong Things to do

    //- p.travelHeader 
    //-   strong Logistical information

    //- p.travelHeader 
    //-   strong Budget notes

    //- p.travelHeader 
    //-   strong Other information

    br
    br

    img#travel(src="images/istanbul2.JPG")

    br
    br

    img#travel(src="images/istanbul3.JPG")

    br
    br

    img#travel(src="images/istanbul4.JPG")

    br
    br
    br
    <a class="travelBackTop" href="#top">Back to the top</a>
    br
    br

    h3.quoteBottom "Allt är inte guld som glimmar. Allt sak har sin tid"
      br
      | "All that glimmers is not gold. All things have their time"
      br
      | J.R.R. Tolkien


//-     <div class="travelSlides">
//-     <div class="mySlides">
//-         <div class="numbertext">Buenos Aires, Argentina</div>
//-         <img src="webpage/argentina.jpg">
//-     </div>

//-     <div class="mySlides">
//-         <div class="numbertext">Brussels, Belgium</div>
//-         <img src="webpage/belgium.JPG">
//-     </div>

//-     <div class="mySlides">
//-         <div class="numbertext">Siam Reap, Cambodia</div>
//-         <img src="webpage/cambodia.jpg">
//-     </div>

//-     <div class="mySlides">
//-         <div class="numbertext">Pemberton, Canada</div>
//-         <img src="webpage/canada.jpg">
//-     </div>

//-     <div class="mySlides">
//-         <div class="numbertext">Santiago, Chile</div>
//-         <img src="webpage/chile.jpg">
//-     </div>
    
//-     <div class="mySlides">
//-         <div class="numbertext">Guatape, Colombia</div>
//-         <img src="webpage/colombia.jpg">
//-     </div>

//-     <div class="mySlides">
//-         <div class="numbertext">Parco Manuel Antonio, Costa Rica</div>
//-         <img src="webpage/costaRica.jpg">
//-     </div>

//-     <div class="mySlides">
//-         <div class="numbertext">Praha, Czech Republic</div>
//-         <img src="webpage/czechRepublic.jpg">
//-     </div>

//-     <div class="mySlides">
//-         <div class="numbertext">Frederiksborg Slot, Hillerød, Denmark</div>
//-         <img src="webpage/denmark.jpg">
//-     </div>

//-     <div class="mySlides">
//-         <div class="numbertext">Nice, France</div>
//-         <img src="webpage/france.jpg">
//-     </div>

//-     <div class="mySlides">
//-         <div class="numbertext">Athens, Greece</div>
//-         <img src="webpage/greece.JPG">
//-     </div>

//-     <div class="mySlides">
//-         <div class="numbertext">Hong Kong</div>
//-         <img src="webpage/hongKong.jpg">
//-     </div>

//-     <div class="mySlides">
//-         <div class="numbertext">Bali, Indonesia</div>
//-         <img src="webpage/indonesia.jpg">
//-     </div>

//-     <div class="mySlides">
//-         <div class="numbertext">Venetia, Italy</div>
//-         <img src="webpage/italy.jpg">
//-     </div>

//-     <div class="mySlides">
//-         <div class="numbertext">Kota Kinabalu, Malaysia</div>
//-         <img src="webpage/malaysia.jpg">
//-     </div>

//-     <div class="mySlides">
//-         <div class="numbertext">Ciudad Mexico, Mexico</div>
//-         <img src="webpage/mexico.jpg">
//-     </div>

//-     <div class="mySlides">
//-         <div class="numbertext">Monaco</div>
//-         <img src="webpage/monaco.jpg">
//-     </div>

//-     <div class="mySlides">
//-         <div class="numbertext">Amsterdam, Netherlands</div>
//-         <img src="webpage/netherlands.JPG">
//-     </div>

//-     <div class="mySlides">
//-         <div class="numbertext">Cusco, Peru</div>
//-         <img src="webpage/peru.jpg">
//-     </div>

//-     <div class="mySlides">
//-         <div class="numbertext">Porto, Portugal</div>
//-         <img src="webpage/porto.JPG">
//-     </div>

//-     <div class="mySlides">
//-         <div class="numbertext">Singapore</div>
//-         <img src="webpage/singapore.jpg">
//-     </div>

//-     <div class="mySlides">
//-         <div class="numbertext">Barcelona, Spain</div>
//-         <img src="webpage/spain.JPG">
//-     </div>

//-     <div class="mySlides">
//-         <div class="numbertext">Château de Chillon, Switzerland</div>
//-         <img src="webpage/switzerland.jpg">
//-     </div>

//-     <div class="mySlides">
//-         <div class="numbertext">Chiang Mai, Thailand</div>
//-         <img src="webpage/Thailand.jpg">
//-     </div>

//-     <div class="mySlides">
//-         <div class="numbertext">Edinburgh, UK</div>
//-         <img src="webpage/uk.jpg">
//-     </div>

//-     <div class="mySlides">
//-         <div class="numbertext">Monteviedo, Uruguay</div>
//-         <img src="webpage/uruguay.jpg">
//-     </div>

//-     <div class="mySlides">
//-         <div class="numbertext">Grand Canyon, Nevada, USA</div>
//-         <img src="webpage/usa.jpg">
//-     </div>
//- </div>
  script(src="/javascripts/main.js")

  
