html
  head
    title Europe
    link(rel="stylesheet", href="/stylesheets/main.css")
    include includes/header.pug
  include includes/navbar.pug
  include includes/links.pug

  body.about
    <div class="typewriter" id="top">
     <div class="typewriter-text">Europe</div>
    </div> 

    br
    br
  
    <a class="travelBarFirst" href="#Belgium">Belgium</a>

    <a class="travelBar" href="#CzechRepublic">Czech Republic</a>

    <a class="travelBar" href="#Denmark">Denmark</a>

    <a class="travelBar" href="#France">France</a>

    <a class="travelBar" href="#Georgia">Georgia</a>

    <a class="travelBar" href="#Greece">Greece</a>

    <a class="travelBar" href="#Italy">Italy</a>

    <a class="travelBar" href="#Malta">Malta</a>

    <a class="travelBar" href="#Monacco">Monacco</a>

    <a class="travelBar" href="#Netherlands">Netherlands</a>

    <a class="travelBar" href="#Portugal">Portugal</a>

    <a class="travelBar" href="#Spain">Spain</a>

    <a class="travelBar" href="#Sweden">Sweden</a>

    <a class="travelBar" href="#Switzerland">Switzerland</a>

    br

    <a class="travelBar" href="#UnitedKingdom">United Kingdom</a>


    h3.travelTop(id="Belgium") Belgium

    p.travelTitle 
      | Brugge

    img#travel(src="images/brugge.JPG")

    p.travelTitle 
      | Brussels

    img#travel(src="images/brussels.JPG")

    br
    br
    br
    <a class="travelBackTop" href="#top">Back to the top</a>
    br
    br

    h3.travel(id="CzechRepublic") Czech Republic

    p.travelTitle 
      | Prague

    img#travel(src="images/prague.JPG")

    br
    br
    br
    <a class="travelBackTop" href="#top">Back to the top</a>
    br
    br

    h3.travel(id="Denmark") Denmark

    p.travelTitle 
      | Copenhagen

    img#travel(src="images/copenhagen1.JPG")

    br
    br

    img#travel(src="images/copenhagen2.JPG")


    br
    br
    br
    <a class="travelBackTop" href="#top">Back to the top</a>
    br
    br

    h3.travel(id="France") France

    p.travelTitle 
      | Nice

    img#travel(src="images/nice1.JPG")

    p.travelTitle 
      | Paris
    
    img#travel(src="images/paris.JPG")

    br
    br
    br
    <a class="travelBackTop" href="#top">Back to the top</a>
    br
    br

    h3.travel(id="Georgia") Georgia

    p.travelTitle 
      | Roshka

    img#travel(src="images/roshka.jpg")

    p.travelTitle 
      | Shatili
  
    img#travel(src="images/shatili.jpg")

    p.travelTitle 
      | Sighnaghi

    img#travel(src="images/sighnaghi.JPG")

    br
    br
    br
    <a class="travelBackTop" href="#top">Back to the top</a>
    br
    br

    h3.travel(id="Greece") Greece

    p.travelTitle 
      | Athens

    img#travel(src="images/athens.JPG")

    br
    br
    br
    <a class="travelBackTop" href="#top">Back to the top</a>
    br
    br

    h3.travel(id="Italy") Italy

    p.travelTitle 
      | Florence

    img#travel(src="images/florence.JPG")

    p.travelTitle 
      | Milan

    img#travel(src="images/milan.JPG")

    p.travelTitle 
      | Rome 

    img#travel(src="images/rome.JPG")

    p.travelTitle 
      | Venice


    img#travel(src="images/venice.JPG")

    br
    br
    br
    <a class="travelBackTop" href="#top">Back to the top</a>
    br
    br

    h3.travel(id="Malta") Malta

    p.travelTitle 
      | Malta

    img#travel(src="images/malta1.JPG")

    br
    br

    img#travel(src="images/malta2.JPG")

    br
    br
    br
    <a class="travelBackTop" href="#top">Back to the top</a>
    br
    br

    h3.travel(id="Monacco") Monacco

    p.travelTitle 
      | Monacco

    img#travelPortrait(src="images/monacco.jpg")

    br
    br
    br
    <a class="travelBackTop" href="#top">Back to the top</a>
    br
    br

    h3.travel(id="Netherlands") Netherlands

    p.travelTitle 
      | Amsterdam

    img#travel(src="images/amsterdam1.JPG")

    br
    br

    img#travel(src="images/amsterdam2.JPG")
      
    p.travelTitle 
      | Den Haag

    img#travel(src="images/denhaag.JPG")

    br
    br
    br
    <a class="travelBackTop" href="#top">Back to the top</a>
    br
    br

    h3.travel(id="Portugal") Portugal

    p.travelTitle 
      | Lisbon

    img#travel(src="images/lisboa1.JPG")

    br
    br

    img#travel(src="images/lisboa2.JPG")

    
      
    p.travelTitle 
      | Porto

    img#travel(src="images/porto1.JPG")

    br
    br

    img#travel(src="images/porto2.JPG")


    br
    br
    br
    <a class="travelBackTop" href="#top">Back to the top</a>
    br
    br

    h3.travel(id="Spain") Spain

    p.travelTitle 
      | Barcelona

    img#travel(src="images/barcelona1.JPG")

    br
    br

    img#travel(src="images/barcelona2.JPG")
      
    p.travelTitle 
      | Madrid

    img#travel(src="images/madrid1.JPG")

    br
    br

    img#travel(src="images/madrid2.JPG")

    br
    br
    br
    <a class="travelBackTop" href="#top">Back to the top</a>
    br
    br

    h3.travel(id="Sweden") Sweden

    p.travelTitle 
      | Gothenburg

    img#travel(src="images/gothenburg1.jpg")

    br
    br

    img#travel(src="images/gothenburg2.jpg")
      
    p.travelTitle 
      | Stockholm

    img#travel(src="images/stockholm1.JPG")

    br
    br

    img#travel(src="images/stockholm2.JPG")
      
    p.travelTitle 
      | Uppsala

    img#travel(src="images/uppsala.JPG")

    br
    br
    br
    <a class="travelBackTop" href="#top">Back to the top</a>
    br
    br

    h3.travel(id="Switzerland") Switzerland

    p.travelTitle 
      | Geneva

    img#travel(src="images/geneva1.jpg")

    br
    br

    img#travel(src="images/geneva2.jpg")
    
    p.travelTitle 
      | Zurich

    img#travel(src="images/zurich1.jpg")

    br
    br

    img#travel(src="images/zurich2.jpg")

    br
    br

    img#travel(src="images/zurich3.jpg")

    br
    br
    br
    <a class="travelBackTop" href="#top">Back to the top</a>
    br
    br

    h3.travel(id="UnitedKingdom") United Kingdom

    p.travelTitle 
      | Cotswolds

    img#travel(src="images/cotswolds1.JPG")

    br
    br

    img#travel(src="images/cotswolds2.JPG")
    
    p.travelTitle 
      | Coventry

    img#travel(src="images/coventry.JPG")
    
    p.travelTitle 
      | Ediburgh

    img#travel(src="images/edinburgh.JPG")
      
    p.travelTitle 
      | Glasgow

    img#travel(src="images/glasgow.JPG")

    p.travelTitle 
      | Liverpool
    
    img#travel(src="images/liverpool1.JPG")

    br
    br

    img#travel(src="images/liverpool2.JPG")

    p.travelTitle 
      | London

    img#travel(src="images/london1.JPG")

    br
    br

    img#travel(src="images/london2.JPG")
      
    p.travelTitle 
      | Manchester

    img#travel(src="images/manchester1.jpg")

    br
    br

    img#travel(src="images/manchester2.jpg")

    p.travelTitle 
      | Sunderland

    img#travelPortrait(src="images/sunderland.jpg")

    br
    br
    br
    <a class="travelBackTop" href="#top">Back to the top</a>
    br
    br

    h3.quoteBottom "Allt är inte guld som glimmar. Allt sak har sin tid"
      br
      | "All that glimmers is not gold. All things have their time"
      br
      | J.R.R. Tolkien

  footer
    include includes/footer.pug